<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
</head>
<body>

<h2>Signup Form</h2>

<form action="/saveform" method="POST">
  <input type="text" name="name" placeholder="Full Name" required /><br><br>
  <input type="email" name="email" placeholder="Email" required /><br><br>
  <input type="password" name="password" placeholder="Password" required /><br><br>
  <button type="submit">Sign Up</button>
</form>

</body>
</html>